server:
  error:
    include-message: always
  port: 8080
  servlet:
    context-path:

logging:
  level:
    org.springframework.security: DEBUG

spring:
  profiles:
    active: dev
  datasource:
    url: ${MYSQL_URL}
    username: ${MYSQL_USERNAME}
    password: ${MYSQL_PASSWORD}
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQLDialect
        format_sql: true
  security:
    oauth2:
      client:
        registration:
          google:
            client-id: ${GOOGLE_CLIENT_SECRECT}
            client-secret: ${GOOGLE_CLIENT_ID}
          facebook:
            client-id: ${FACEBOOK_CLIENT_SECRECT}
            client-secret: ${FACEBOOK_CLIENT_ID}
  main:
    allow-bean-definition-overriding: true
  servlet:
    multipart:
      max-file-size: 5MB
      max-request-size: 10MB

aws:
  region: ${AWS_REGION}
  s3:
    buckets:
      customer: ${AWS_BUCKET}
  access-key: ${AWS_ACCESS_KEY}
  secret-key: ${AWS_SECRECT_KEY}

cloud:
  aws:
    credentials:
      use-default-aws-credentials-chain: true